.places__paragraph{
    grid-column: 2;
    grid-row: 2/span 2;
    max-width: 484px;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }

@media screen and (max-width: 768px) {
  .places__paragraph{
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph{
    grid-column: 1;
    grid-row: 4;
    max-width: 100%;
  }
}