.photo-grid {
    max-width: 1185px;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 10px;
<<<<<<< HEAD
=======
  }

  @media screen and (max-width : 768px) {
    .photo-grid {
      max-width: 100%;
      height: 1104px;
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }
  }

  @media screen and (max-width : 320px) {
    .photo-grid {
      max-width: 320px;
      height: 1812px;;
      grid-template-columns: auto;
    }
>>>>>>> 7c839322962ed304eef7d67e9379261875f2f811
  }