.places {
    display: grid;
    grid-column: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 987px;
    height: auto;
    gap: 50px;
  }

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    height: auto;
    gap: 50px;
  }
}