  /* header */
  .__logo {
    width: 270px;
    height: 70px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* lead */
  .lead{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 984px;
    height: 983px;
    display: grid;
    grid-template-columns: auto;
  }

  .lead__title{
    margin-left: auto;
    margin-right: auto;
    width: 793px;
    font-size: 95px;
    font-weight: 900;
    font-style: normal;
    line-height: 100px;
    text-align: center;
  }

  .lead__subtitle{
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .lead__image{
    width: 985px;
    height: 615px;
    background: #000000;
    mix-blend-mode: luminosity;
  }


  /* intro */
  .intro{
    margin-left: auto;
    margin-right: auto;
    width: 985px;
    height: 542px;
    display: grid;
    grid-template-columns: auto;
    align-content: space-between;
  }

  .intro__title{
    width: 930px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }

  .intro__text{
    width: 760px;
    font-style: normal;
    font-weight: 400;
  }


  .intro__text:nth-child(1) {
    font-size: 24px;
    line-height: 34px;
  }


  .intro__text:nth-child(2){
    font-size: 24px;
    line-height: 34px;
    text-align: right;
  }

  .intro__text:nth-child(3){
    font-size: 16px;
    line-height: 163%;
  }


  /* photo-grid */
  .photo-grid {
    width: 1185px;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 10px;
  }
  
  .photo-grid__item{
    width: 285px;
    height: 213px;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  


  /* places */
  .places {
    display: grid;
    grid-column: auto;
    margin-left: auto;
    margin-right: auto;
    width: 987px;
    height: 4098px;
  }
  
  .places__place {
    display: grid;
    gap: 10px;
    height: 756px;
    width: 100%;
  }
  
  .places__place__title{
    grid-column: 1;
    grid-row: 1;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }

  .places__place__image{
    grid-column: 1;
    grid-row: 2;
    width: 460px;
    height: 460px;
  }

  .places__place__btn-paragraph{
    grid-column: 1;
    grid-row: 3;
    width: 304px;
    height: 48px;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #0278FE;
    color: #fff;
    border-radius: 5px;
  }

  .places__place__website{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-column: auto;
    width: 456px;
    height: 70px;
    align-self: end;
  }

  .places__place__website__artist{
    width: 41px;
    height: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
  }

  .places__place__website__url-heading{
    width: 456px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .places__place__paragraph{
    grid-column: 2;
    grid-row: 2/span 2;
    width: 484px;
    height: 232px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }

  /* cover */
  .cover{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1184px;
    height: 740px;
    background-image: url(/images/__background.png);
    align-content: center;
    grid-row-gap: 30px;
  }

  .cover__overlay{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 1184px;
    height: 740px;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 0;
  }

  .cover__title{
    width: 1184px;
    justify-content: center;
    height: 80px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 0;
  }

  .cover__subtitle{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 0;
  }

  .cover__btn{
    margin-left: auto;
    margin-right: auto;
    width: 137px;
    height: 48px;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #0278FE;
    color: #fff;
    border-radius: 5px;
    z-index: 0;
  }

  .cover:hover .cover__overlay{
    opacity: 0.8;
  }


  /* footer */
  .footer {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  
  @media screen and (max-width : 768px) {
      /* lead */
      .lead{
        width: 100%;
        height: 1050px;
      }
    
      .lead__title{
        width: 720px;
      }
    
      .lead__image{
        width: 768px;
      }
    
      /* intro */
      .intro{
        width: 720px;
        height: 600px;
      }
    
      .intro__title{
        width: 720px;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px
      }
    
      .intro__text{
        width: 720px;
        font-style: normal;
        font-weight: 400;
      }
    
    
      .intro__text:nth-child(1) {
        font-size: 24px;
        line-height: 34px;
      }
    
    
      .intro__text:nth-child(2){
      }
    
      .intro__text:nth-child(3){
        font-size: 16px;
        line-height: 163%;
      }


      /* photo-grid */
      .photo-grid {
        width: 720px;
        height: 1104px;
        grid-template-columns: auto auto;
        grid-gap: 10px;
      }
      
      .photo-grid__item{
        width: 352px;
        height: 264px;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
      }

      /* places */

      .places {
        width: 720px;
      }
      
      .places__place {
        height: fit-content;
        width: 720px;
      }
      
      .places__place__title{
        width: 340px;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        align-self: top;
      }
    
      .places__place__image{
        width: 340px;
        height: 340px;
      }
    
      .places__place__btn-paragraph{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }
    
      .places__place__website{
        width: 309px;
        height: 60px;
      }
        
      .places__place__website__url-heading{
        width: 309px;
        height: 30px;
      }
    
      .places__place__paragraph{
        width: 352px;
        height: 260px;
        font-size: 16px;
      }

      /* cover */
      .cover{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 786px;
        align-content: center;
        grid-row-gap: 30px;
      }
    
      .cover__overlay{
        width: 768px;
      }
    
      .cover__title{
        width: 656px;
      }
    
      /* footer */
      .footer {
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
      }
      
      .footer__copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
  
  @media screen and (max-width : 320px) {
      /* header */

      /* lead */

      /* intro */

      /* photo-grid */

      /* places */

      /* cover */

      /* footer */
  }