  /* header */
  .header__logo {
    display: grid;
    width: 270px;
    height: 70px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* lead */
  .lead{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 987px;
    height: 983px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  .lead__title{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 793px;
    font-size: 95px;
    font-weight: 900;
    font-style: normal;
    line-height: 100px;
    text-align: center;
  }

  .lead__subtitle{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .lead__image{
    display: grid;
    position: relative;
    max-width: 100%;
    background: #000000;
    mix-blend-mode: luminosity;
  }


  /* intro */
  .intro{
    margin-left: auto;
    margin-right: auto;
    max-width: 985px;
    height: 542px;
    display: grid;
    grid-template-columns: auto;
    align-content: space-between;
  }

  .intro__title{
    max-width: 930px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }

  .intro__text{
    max-width: 760px;
    font-style: normal;
    font-weight: 400;
  }


  .intro__text:nth-child(1) {
    font-size: 24px;
    line-height: 34px;
  }


  .intro__text:nth-child(2){
    font-size: 24px;
    line-height: 34px;
    text-align: right;
  }

  .intro__text:nth-child(3){
    font-size: 16px;
    line-height: 163%;
  }


  /* photo-grid */
  .photo-grid {
    max-width: 1185px;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 10px;
  }
  
  .photo-grid__item{
    max-width: 100%;
    height: 213px;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  


  /* places */
  .places {
    display: grid;
    grid-column: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 987px;
    height: auto;
    gap: 50px;
  }
  
  .places__place {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 45px;
    height: fit-content;
    max-width: 100%;
  }
  
  .places__place__title{
    max-width: 460px;
    grid-column: 1;
    grid-row: 1;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }

  .places__place__image{
    grid-column: 1;
    grid-row: 2;
    max-width: 100%;
    height: 460px;
  }

  .places__place__btn-paragraph{
    grid-column: 1;
    grid-row: 3;
    max-width: 304px;
    height: 48px;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #0278FE;
    color: #fff;
    border-radius: 5px;
  }

  .places__place__website{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-column: auto;
    max-width: 456px;
    height: 70px;
    align-self: end;
  }

  .places__place__website__artist{
    max-width: 41px;
    height: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
  }

  .places__place__website__url-heading{
    max-width: 456px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .places__place__paragraph{
    grid-column: 2;
    grid-row: 2/span 2;
    max-width: 484px;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }

  /* cover */
  .cover{
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 740px;
    background-image: url(/images/__background.png);
    align-content: center;
    grid-row-gap: 30px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }

  .cover:hover .cover__overlay{
    opacity: 0.8;
  }

  .cover__overlay{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 2;
    transition: .5s ease;
  }

  .cover__title{
    margin-left: auto;
    margin-right: auto;
    max-width: 1184px;
    justify-content: center;
    height: 80px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
  }

  .cover__subtitle{
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
  }

  .cover__btn{
    margin-left: auto;
    margin-right: auto;
    max-width: 137px;
    height: 48px;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #0278FE;
    color: #fff;
    border-radius: 5px;
    z-index: 2;
  }

  
  /* footer */
  .footer {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  
  @media screen and (max-width : 768px) {
      /* header */
      
      /* lead */
      .lead{
        width: 100%;
        height: 1050px;
      }
    
      .lead__title{
        max-width: 720px;
      }
    
      .lead__image{
        width: 100%;
      }
    
      /* intro */
      .intro{
        max-width: 720px;
        height: 600px;
      }
    
      .intro__title{
        max-width: 720px;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px
      }
    
      .intro__text{
        max-width: 720px;
      }
    
    
      .intro__text:nth-child(1) {
        font-size: 24px;
        line-height: 34px;
      }
       
      .intro__text:nth-child(3){
        font-size: 16px;
        line-height: 163%;
      }


      /* photo-grid */
      .photo-grid {
        max-width: 100%;
        height: 1104px;
        grid-template-columns: auto auto;
        grid-gap: 10px;
      }
      
      .photo-grid__item{
        height: 264px;
      }

      /* places */

      .places {
        max-width: 720px;
      }
      
      .places__place {
        height: fit-content;
        max-width: 720px;
        gap: 20px;
      }
      
      .places__place__title{
        max-width: 340px;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        align-self: top;
      }
    
      .places__place__image{
        max-width: 100%;
        height: 460px;
      }
    
      .places__place__btn-paragraph{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }
    
      .places__place__website{
        max-width: 309px;
        height: 60px;
      }
        
      .places__place__website__url-heading{
        max-width: 309px;
        height: 30px;
      }
    
      .places__place__paragraph{
        max-width: 352px;
        height: fit-content;
        font-size: 16px;
      }

      /* cover */
      .cover{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        max-width: 786px;
        align-content: center;
        grid-row-gap: 30px;
      }
    
      .cover__overlay{
        max-width: 100%;
      }
    
      .cover__title{
        max-width: 656px;
      }
    
      /* footer */
      .footer {
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
      }
      
      .footer__copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
  
  @media screen and (max-width : 320px) {
      /* header */
      .header__logo{
        max-width: 200px;
        height: 51.85px;
      }
      /* lead */
      .lead{
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 100%;
        height: 500px;
      }
    
      .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
      }

      .lead__subtitle{
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
      }
    
      .lead__image{
        max-width: 100%;
        height: 200px;
      }
    
      /* intro */
      .intro{
        max-width: 304px;
        height: 928px;
      }
    
      .intro__title{
        font-size: 32px;
        line-height: 35px;
      }
    
      .intro__text{
        max-width: 288px;
      }
    
    
      .intro__text:nth-child(1) {
        font-size: 20px;
        line-height: 30px;
      }

      .intro__text:nth-child(2) {
        font-size: 20px;
        line-height: 34px;
      }
       
      .intro__text:nth-child(3){
        font-size: 15px;
        line-height: 163%;
      }


      /* photo-grid */
      .photo-grid {
        max-width: 320px;
        height: 1812px;;
        grid-template-columns: auto;
      }
      
      .photo-grid__item{
        max-width: 320px;
        height: 216px;
      }

      /* places */

      .places {
        max-width: 320px;
        height: auto;
        gap: 50px;
      }
      
      .places__place {
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
        display: grid;
        grid-template-columns: 100%;
        grid-column: auto;
        height: fit-content;
      }
      
      .places__place__title{
        grid-column: 1;
        grid-row: 1;
        max-width: 288px;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
      }
    
      .places__place__image{
        grid-column: 1;
        grid-row: 3;
        max-width: 320px;
        height: 320px;
      }
    
      .places__place__btn-paragraph{
        grid-column: 1;
        grid-row: 5;
        max-width: 264px;
        height: 44px;
        font-weight: 500;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
    
      .places__place__website{
        grid-column: 1;
        grid-row: 2;
        max-width: 288px;
        height: 55px;
      }
        
      .places__place__website__url-heading{
        max-width: 309px;
        height: 30px;
      }
    
      .places__place__paragraph{
        grid-column: 1;
        grid-row: 4;
        height: fit-content;
        max-width: 100%;
        line-height: 163%;
      }

      /* cover */
      .cover{
        max-width: 320px;
        height: 254px;
        object-fit: fill;
        margin-top: 50px;
        margin-bottom: 50px;
        background-size: cover;
        grid-row-gap: 10px;
        
      }
    
      .cover__overlay{
        max-width: 100%;
        height: 100%;
        overflow: hidden;
      }
    
      .cover__title{
        max-width: 100%;
        height: 45px;
        font-size: 32px;
        line-height: 35px;
      }

      .cover__subtitle{
        max-width: 280px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;        
      }

      .cover__btn{
        max-width: 80px;
        height: 44px;
        font-size: 15px;
      }
    
      /* footer */

  }