  
  /* Ini tidak sama persis dengan persyaratan BEM, tetapi dapat digunakan dalam proyek siswa.
  Jika Anda melakukan ini di tempat kerja, aturlah margin: 0; di dalam blok */
  
  h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;
  }
  
  body {
    background-color: #000000;
  }
  

  /* header */
  .__logo {
    width: 270px;
    height: 70px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* lead */
  .lead{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 984px;
    height: 983px;
    display: grid;
    grid-template-columns: auto;
  }

  .lead__title{
    margin-left: auto;
    margin-right: auto;
    width: 793px;
    font-size: 95px;
    font-weight: 900;
    font-style: normal;
    line-height: 100px;
    text-align: center;
  }

  .lead__subtitle{
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .lead__image{
    width: 985px;
    height: 615px;
    background: #000000;
    mix-blend-mode: luminosity;
  }


  /* intro */
  .intro{
    margin-left: auto;
    margin-right: auto;
    width: 985px;
    height: 542px;
    display: grid;
    grid-template-columns: auto;
  }

  .intro__title{
    width: 930px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }

  .intro__text{

  }


  .intro__text:nth-child(1) {
    width: 760px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }


  .intro__text:nth-child(2){
    width: 760px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
  }

  .intro__text:nth-child(3){
    width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }






  /* photo-grid */
  .photo-grid {
    width: 1185px;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 10px;
  }
  
  .photo-grid__item{
    width: 285px;
    height: 213px;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  


  /* places */
  .places {
    display: grid;
    grid-column: auto;
    margin-left: auto;
    margin-right: auto;
    width: 987px;
    height: 4098px;
  }
  
  .places__place {
    display: grid;
    gap: 10px;
    height: 756px;
    width: 100%;
  }
  
  .places__place__title{
    grid-column: 1;
    grid-row: 1;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }

  .places__place__image{
    grid-column: 1;
    grid-row: 2;
    width: 460px;
    height: 460px;
  }

  .places__place__btn-paragraph{
    grid-column: 1;
    grid-row: 3;
    width: 304px;
    height: 48px;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #0278FE;
    color: #fff;
    border-radius: 5px;
  }

  .places__place__website{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-column: auto;
    width: 456px;
    height: 70px;
    align-self: end;
  }

  .places__place__website__artist{
    width: 41px;
    height: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
  }

  .places__place__website__url-heading{
    width: 456px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .places__place__paragraph{
    grid-column: 2;
    grid-row: 2/span 2;
    width: 484px;
    height: 232px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }









  .content {
    padding: 60px 0;
    background-color: #fff;
  }
  
  .content__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .content__column {
    width: calc((100% - 70px)/3);
  }
  
  .content__column-image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .content__column-image_hero_laika {
    background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/frontend-developer/responsive/moved_laika.png);
  }
  
  .content__column-image_hero_lunohod {
    background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/frontend-developer/responsive/moved_lunohod.jpg);
  }
  
  .content__column-image_hero_tesla {
    background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/frontend-developer/responsive/moved_tesla.png);
  }
  
  .content__column-title {
    font-size: 2em;
    margin: 37px 0 34px;
  }
  
  .column__text {
    margin: 24px 0;
    font-size: 0.8em;
    line-height: 1.5;
  }
  
  .column__quote {
    font-size: 1.1em;
    line-height: 1.5;
    margin-left: 0;
  }
  
  .column__quote-cite {
    font-size: 0.8em;
    line-height: 1.5;
  }
  
  .share {
    display: flex;
    align-items: center;
    margin-top: 34px;
  }
  
  .share__text {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2;
    margin-right: 14px;
  }
  
  .share__icon {
    text-decoration: none;
    display: block;
    margin-right: 6px;
  }
  
  .share__icon:last-of-type {
    margin-right: 0;
  }
  
  .share__icon:hover {
    opacity: .8;
  }
  .footer {
    height: 60px;
    background-color: #fff;
  }
  
  .footer__copyright {
    width: 90%;
    margin: auto;
    font-size: 12px;
    line-height: 18px;
  }
  
  @media screen and (max-width : 425px) {
    .cover__title {
      font-size: 4rem;
    }
    .cover__subheading {
      font-size: 0.8rem;
    }
    .content__columns {
      flex-direction: column;
    }
    .content__column {
      width: 100%;
      margin-bottom: 60px;
    }
  }
  
  @media screen and (max-width : 812px) and (max-height : 425px) {
    .content__column {
      width: 100%;
      margin-bottom: 60px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .content__column-image {
      width: 30%;
      padding-bottom: 30%;
    }
  
    .column__description {
      width: calc(70% - 40px);
    }
  
    .content__column-title {
      margin-top: 0;
      font-size: 1.5em;
      margin-bottom: 18px;
    }
    .column__quote {
      font-size: 0.9em;
    }
  
    .column__quote-cite {
      font-size: 0.7em;
      line-height: 1.5;
    }
  
    .share {
      margin-top: 18px;
    }
  
    .share__text {
      font-size: 1em;
    }
  }