.places__image{
    grid-column: 1;
    grid-row: 2;
    max-width: 100%;
    height: fit-content;
  }

@media screen and (max-width: 768px) {
  .places__image{
    max-width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 320px) {
  .places__image{
    grid-row: 3;
    max-width: 320px;
  }
}