.lead{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 987px;
    height: 983px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  @media screen and (max-width : 768px) {
    .lead{
      width: 100%;
      height: 1050px;
    }
  }

  @media screen and (max-width : 320px) {
    .lead{
      max-width: 100%;
      height: 500px;
    }
  }