.lead{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 987px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    justify-content: center;
  }

@media screen and (max-width: 768px) {
  .lead{
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead{
    max-width: 100%;
  }
}