.header__logo {
    display: grid;
    width: auto;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

@media screen and (max-width: 320px) {
  .header__logo{
    margin-bottom: 30px;
    max-width: 200px;
    height: 51.85px;
  }
}