.header{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

@media screen and (max-width: 320px) {
  .header{
    min-width: 360px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}