.places__place__title{
    max-width: 460px;
    grid-column: 1;
    grid-row: 1;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }

  @media screen and (max-width : 320px) {
    .places__place__title{
      grid-column: 1;
      grid-row: 1;
      max-width: 288px;
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
    }
  }