.cover__btn{
    margin-left: auto;
    margin-right: auto;
    max-width: 137px;
    height: 48px;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #0278FE;
    color: #fff;
    border-radius: 5px;
    z-index: 2;
<<<<<<< HEAD
=======
  }

  @media screen and (max-width : 320px) {
    .cover__btn{
      max-width: 80px;
      height: 44px;
      font-size: 15px;
    }
>>>>>>> 7c839322962ed304eef7d67e9379261875f2f811
  }