.places__place__website__artist{
    max-width: 41px;
    height: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
  }

  @media screen and (max-width : 320px) {

  }