.page {
  min-width: 1280px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  display: grid;
  grid-column: auto;
  flex-wrap: wrap;
  overflow: hidden;
  /* here we've set a maximum page width */
  /* margin: 0 auto; */
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #2A2C2F;
}

h1, h2, h3, h4, h5, p, ul, li, a{
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

span {
  display: block;
  margin-top: 10px;
}

  
/* .page {
  max-width: 1440px;
  margin: auto;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
} */

/* @font-face {
  font-family: 'Inter';
  src: url(https://practicum-content.s3.us-west-1.amazonaws.com/frontend-developer/responsive/moved_Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(https://practicum-content.s3.us-west-1.amazonaws.com/frontend-developer/responsive/moved_Inter-Bold.woff2);
  font-weight: bold;
} */