body {
  background: #2A2C2F;
}

.page {
  min-width: 360px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1780px;
  display: grid;
  grid-column: auto;
  gap: 100px;
  flex-wrap: wrap;
  overflow: hidden;
  /* here we've set a maximum page width */
  /* margin: 0 auto; */
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #2A2C2F;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6, p, li, a{
  margin: 0;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

span {
  display: block;
  margin-top: 10px;
}

button{
  cursor: pointer;
}