.lead__subtitle{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

@media screen and (max-width: 320px) {
  .lead__subtitle{
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}