.cover{
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 740px;
    background-image: url(/images/__background.png);
    align-content: center;
    grid-row-gap: 30px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }

.cover:hover .cover__overlay{
    opacity: 0.8;
<<<<<<< HEAD
=======
  }
    
  @media screen and (max-width : 768px) {
    .cover{
      display: grid;
      margin-left: auto;
      margin-right: auto;
      max-width: 786px;
      align-content: center;
      grid-row-gap: 30px;
    }
  }

  @media screen and (max-width : 320px) {
    .cover{
      max-width: 320px;
      height: 254px;
      object-fit: fill;
      background-size: cover;
      grid-row-gap: 10px;
      
    }
>>>>>>> 7c839322962ed304eef7d67e9379261875f2f811
  }