.cover{
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    min-width: 90%;
    min-height: 740px;
    background-image: url(/images/__background.jpg);
    align-content: center;
    grid-row-gap: 30px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }

.cover:hover .cover__overlay{
    opacity: 0.8;
  }

@media screen and (max-width: 768px) {
 .cover {
    max-width: 786px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 254px;
    object-fit: fill;
    grid-row-gap: 10px;
  }
}