.cover__overlay{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 2;
    transition: .5s ease;
<<<<<<< HEAD
=======
  }
  
  @media screen and (max-width : 768px) {
    .cover__overlay{
      max-width: 100%;
    }
  }

  @media screen and (max-width : 320px) {
    .cover__overlay{
      max-width: 100%;
      height: 100%;
      overflow: hidden;
    }
>>>>>>> 7c839322962ed304eef7d67e9379261875f2f811
  }