.footer {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width : 768px){
    .footer {
      height: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }